# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
PseudoDouble/.vs/PseudoDouble/FileContentIndex/2686ff0e-092e-4a33-a9f8-cc82375db0f9.vsidx
*.vsidx
PseudoDouble/.vs/PseudoDouble/v17/.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.sln
*.vcxproj
*.filters
*.user
*.recipe
*.ilk
*.log
*.pdb
*.tlog
*.idb
PseudoDouble/x64/Debug/PseudoDouble.vcxproj.FileListAbsolute.txt
